<!-- <p>quote-detail works!</p> -->

<!-- <p>{{quote.description}}</p> -->
<!-- <button (click)='quoteComplete(true)'>Complete </button> -->

<p>{{quote.description}}</p>
<p>This quote will be complete in {{quote.completeDate|dateCount}} days</p>
<span><button (click)=likebuttonclick() class="btn btn-success">likes <i class="fa fa-thumbs-up" aria-hidden="true"></i></button></span>
<span>{{numberoflikes}}</span>
<span><button (click)=dislikebuttonclick() class="btn btn-warning">dislikes<i class="fa fa-thumbs-down" aria-hidden="true"></i></button></span>
<span>{{numberofdislikes}}</span>

<button (click)= 'quoteDelete(true)' class="btn btn-danger">Delete Quote</button> <i class="fa fa-trash" aria-hidden="true"></i>
