<!-- <p>quote-form works!</p> -->

<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr />

  <form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
    <div class="form-group">
      <label for="name">QUOTE</label>
      <input
      onfocus="value=''"
      rows="4"
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="newQuote.name"
        name="name"
        #name="ngModel"
        required
      />

      <!-- Testing to see if we get any data -->
      <!-- Display {{newQuote.name}} -->
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">NAME  </label>
      <textarea
  
      onfocus="this.value=''"
        class="form-control"
        id="description"
        rows=""
        [(ngModel)]="newQuote.description"
        name="description"
        #description="ngModel"
        required
      ></textarea>
      <div
        [hidden]="description.valid || description.pristine"
        class="alert alert-danger"
      >
        <p>Description is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="complete">Posted</label>
      <input
      value=""
        type="date"
        id="complete"
        [(ngModel)]="newQuote.completeDate"
        name="completeDate"
        #completeDate="ngModel"
        required
      />
  
    

      <div
        [hidden]="completeDate.valid || completeDate.pristine"
        class="alert alert-danger"
      >

      </div>
    </div>
      

      <div class="form-group">
        <label for="author">Author</label>
        <input
        onfocus="value=''"
          type="text"
          id="author"
          [(ngModel)]="newQuote.author"
          name="author"
          #author="ngModel"
          required
        />


      <div
        [hidden]="completeDate.valid || completeDate.pristine"
        class="alert alert-danger"
      >
        <p>Who is the Author?</p>
      </div>
    </div>
    <button id="submit" type="submit"  class="btn btn-success">Add Quote</button>
  </form>
</div>
